body{
    background: black;
}

.game-window {
    border: white 1px solid;
    position: absolute;
    margin: 5% 15% 5% 15%;
    width: 1280px;
    height: 720px;
    background: url("/static/background-day.png");
    background-repeat: repeat-x;
    background-color: RGB(78,192,202);
    background-position: bottom;
}

.bird {
    position: absolute;
    left: 150px;
    border: 1px black solid;
    z-index: 100;
}

.wall-upper {
    position: absolute;
    background-color: dimgrey;
    left: 1300px;
    width: 52px;
    font-size: 0;
    z-index: 1;
}

.wall-lower {
    position: absolute;
    transform: rotateY(180deg);
    background-color: dimgrey;
    border: red 1px solid;
    left: 1300px;
    width: 52px;
    z-index: 10;
}

.image{
    float: left;
}